.qrcode {
    width: 390px;
    height: 390px;
    top: 45px;
    left: 9px;
}
.container {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.swiper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.message {
    width: 100%;
    height: 30px;
    text-align: center;
    color: black;
}